Repository vadolasi/refluxo-engine: changes, and which lefthook commands are due for each by the changed paths.
All: lint, test

lefthook.yml:

# Lefthook configuration
# See https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    test:
      glob: "*.ts"
      run: pnpm vitest related --run --passWithNoTests {staged_files}

prepare-commit-msg:
  commands:
    commitzen:
      interactive: true
      run: pnpm cz --hook || true
      env:
        LEFTHOOK: "0"

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

refactor(engine): uso de transformers na política de retry e atualização da doc
  .gitignore
  .vitepress/config.mts
  docs/api/classes/JexlEngine.md
  docs/api/classes/WorkflowEngine.md
  docs/api/globals.md
  docs/api/interfaces/Edge.md
  docs/api/interfaces/IExpressionEngine.md
  docs/api/interfaces/ITransformEngine.md
  docs/api/interfaces/Node.md
  docs/api/interfaces/NodeDefinition.md
  docs/api/interfaces/RetryPolicy.md
  docs/api/interfaces/WorkflowDefinition.md
  docs/api/type-aliases/NodesDefinition.md
  docs/api/typedoc-sidebar.json
  docs/concepts/engine.md
  docs/concepts/expressions.md
  docs/concepts/metadata.md
  docs/concepts/transformers.md
  docs/guides/handling-secrets.md
  docs/pt/concepts/engine.md
  docs/pt/concepts/expressions.md
  docs/pt/concepts/metadata.md
  docs/pt/concepts/transformers.md
  docs/pt/guides/handling-secrets.md
  src/index.ts
  tests/engine.test.ts
  tests/expression.test.ts
Due: lint, test

chore: 1.3.0 release
  package.json
Due: lint

refactor: remove "prepare" method from TransformEngine
  docs/concepts/engine.md
  docs/concepts/transformers.md
  docs/guides/handling-secrets.md
  docs/pt/concepts/engine.md
  docs/pt/concepts/transformers.md
  docs/pt/guides/handling-secrets.md
  package.json
  src/index.ts
  tests/engine.test.ts
Due: lint, test

ci: check package size
  .github/workflows/pre-commit.yml
  lefthook.yml
  package.json
Due: lint

build: update lockfile
  pnpm-lock.yaml
Due: none

build: add wrangler.toml
  wrangler.toml
Due: none

ci: remove github pages build
  .github/workflows/docs.yml
  package.json
Due: lint

docs: fix docs link on README
  README.md
Due: none

docs: fix nav links
  .vitepress/config.mts
Due: none

docs: update title
  README.md
  docs/en/api/classes/JexlEngine.md
  docs/en/api/classes/WorkflowEngine.md
  docs/en/api/index.md
  docs/en/api/interfaces/Edge.md
  docs/en/api/interfaces/ITransformEngine.md
  docs/en/api/interfaces/Node.md
  docs/en/api/interfaces/NodeDefinition.md
  docs/en/api/interfaces/RetryPolicy.md
  docs/en/api/interfaces/WorkflowDefinition.md
  docs/en/api/type-aliases/NodesDefinition.md
Due: none

docs: add TSDoc comments
  docs/en/api/classes/JexlEngine.md
  docs/en/api/classes/WorkflowEngine.md
  docs/en/api/globals.md
  docs/en/api/interfaces/Edge.md
  docs/en/api/interfaces/ITransformEngine.md
  docs/en/api/interfaces/Node.md
  docs/en/api/interfaces/NodeDefinition.md
  docs/en/api/interfaces/RetryPolicy.md
  docs/en/api/interfaces/WorkflowDefinition.md
  docs/en/api/type-aliases/NodesDefinition.md
  package.json
  pnpm-lock.yaml
  src/index.ts
  typedoc.json
Due: lint, test

feat: add middleware functionality and add jexl-middleware package
  .gitignore
  lefthook.yml
  package.json
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/tests/engine.test.ts
  packages/core/tsconfig.json
  packages/jexl-middleware/package.json
  packages/jexl-middleware/src/index.ts
  packages/jexl-middleware/tests/expression.test.ts
  packages/jexl-middleware/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/definitions.ts
  tsconfig.json
  typedoc.json
  vitest.config.ts
Due: lint, test

feat: add @refluxo/standard-schema-middleware package
  .gitignore
  package.json
  packages/core/package.json
  packages/core/src/index.ts
  packages/standard-schema-middleware/package.json
  packages/standard-schema-middleware/src/index.ts
  packages/standard-schema-middleware/tests/middleware.test.ts
  packages/standard-schema-middleware/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: lint, test

test: improve test coverage
  packages/core/src/index.ts
  packages/core/tests/engine.edge-cases.test.ts
  packages/core/tests/engine.errors.test.ts
  packages/core/tests/engine.lifecycle.test.ts
  packages/core/tests/engine.middleware.test.ts
  packages/core/tests/engine.retry.test.ts
  packages/jexl-middleware/src/index.ts
  packages/jexl-middleware/tests/edge-cases.test.ts
  packages/jexl-middleware/tests/expression.test.ts
  packages/jexl-middleware/tests/validate.test.ts
  vitest.config.ts
Due: lint, test

chore: configure changesets
  .changeset/README.md
  .changeset/config.json
  .github/workflows/pre-commit.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  package.json
  packages/core/package.json
  packages/jexl-middleware/package.json
  packages/standard-schema-middleware/package.json
  pnpm-lock.yaml
Due: lint

chore: first release
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/jexl-middleware/CHANGELOG.md
  packages/jexl-middleware/package.json
  packages/standard-schema-middleware/CHANGELOG.md
  packages/standard-schema-middleware/package.json
Due: lint

chore: fix repo url in package.json files
  packages/core/package.json
  packages/jexl-middleware/package.json
  packages/standard-schema-middleware/package.json
Due: lint

fix: add standard schema validator export on core
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/standard-schema-validator.ts
Due: lint, test

docs: fix typedoc generation
  .vitepress/config.mts
  docs/en/api/@refluxo/core/classes/StandardSchemaValidator.md
  docs/en/api/@refluxo/core/classes/WorkflowEngine.md
  docs/en/api/@refluxo/core/interfaces/Context.md
  docs/en/api/@refluxo/core/interfaces/Edge.md
  docs/en/api/@refluxo/core/interfaces/ErrorHandler.md
  docs/en/api/@refluxo/core/interfaces/ErrorPluginContext.md
  docs/en/api/@refluxo/core/interfaces/Node.md
  docs/en/api/@refluxo/core/interfaces/NodeDefinition.md
  docs/en/api/@refluxo/core/interfaces/NodeResult.md
  docs/en/api/@refluxo/core/interfaces/Plugin.md
  docs/en/api/@refluxo/core/interfaces/PluginContext.md
  docs/en/api/@refluxo/core/interfaces/RetryPolicy.md
  docs/en/api/@refluxo/core/interfaces/Snapshot.md
  docs/en/api/@refluxo/core/interfaces/TransformEngine.md
  docs/en/api/@refluxo/core/interfaces/Validator.md
  docs/en/api/@refluxo/core/interfaces/WorkflowDefinition.md
  docs/en/api/@refluxo/core/type-aliases/NodesDefinition.md
  docs/en/api/@refluxo/jexl-transformer/classes/JexlTransformEngine.md
  docs/en/api/@refluxo/jexl-transformer/functions/createJexlTransformEngine.md
  docs/en/api/@refluxo/jexl-transformer/functions/validateExpression.md
  docs/en/api/@refluxo/n8n-expressions-transformer/classes/N8nTransformEngine.md
  docs/en/api/@refluxo/n8n-expressions-transformer/functions/createN8nTransformEngine.md
  docs/en/api/index.md
  docs/en/concepts/metadata.md
  docs/en/guides/getting-started.md
  docs/pt/concepts/engine.md
  docs/pt/concepts/metadata.md
  docs/pt/concepts/middleware.md
  docs/pt/guides/custom-nodes.md
  docs/pt/guides/dynamic-schemas.md
  docs/pt/guides/external-events.md
  docs/pt/guides/getting-started.md
  docs/pt/guides/handling-secrets.md
  packages/jexl-transformer/CHANGELOG.md
  packages/jexl-transformer/package.json
  packages/n8n-expressions-transformer/CHANGELOG.md
  packages/n8n-expressions-transformer/package.json
Due: lint
